* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0a0f1c;
  color: #eaeaea;
}

/* Navbar */
header {
  background: #050814;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #4da3ff;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #eaeaea;
  text-decoration: none;
}

.nav-links a.active {
  color: #4da3ff;
  border-bottom: 2px solid #4da3ff;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #4da3ff;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #4da3ff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 60px 15%;
}

.section h2 {
  margin-bottom: 20px;
  color: #4da3ff;
}

.dark {
  background: #050814;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills span {
  background: #0f1a33;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: #0f1a33;
  padding: 20px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.buttons a {
  flex: 1;
  text-align: center;
  padding: 8px;
  background: #4da3ff;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
}

/* GitHub */
.github-card {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.github-card img {
  max-width: 100%;
  border-radius: 10px;
}

/* Scroll animation */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #050814;
  font-size: 14px;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #050814;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  .section {
    padding: 50px 8%;
  }
}
